rofi.modi: window,drun,ssh

rofi.theme: Monokai

rofi.width: 30
rofi.lines: 10

rofi.font: Hack 24
rofi.show-icons: true
rofi.drun-icon-theme: elementary

rofi.terminal: xfce4-terminal
rofi.ssh-command: {terminal} -e "{ssh-client} {host}"

rofi.hide-scrollbar: false

rofi.window-format: {w} {t}
rofi.parse-known-hosts: false
rofi.display-drun: app
