rofi.modi: window,windowcd,drun

rofi.theme: dotsanity

rofi.location: 2
rofi.yoffset: 150
rofi.width: 1400
rofi.lines: 10

rofi.font: Hack 24
rofi.show-icons: true
rofi.drun-icon-theme: arc
rofi.columns: 2

rofi.hide-scrollbar: true

rofi.window-format: {w} {t}
rofi.parse-known-hosts: false
rofi.display-drun: run
rofi.display-windowcd: tag
rofi.display-window: clients
