rofi.modi: window,windowcd,drun,ssh

rofi.theme: dotsanity

rofi.yoffset: -400
rofi.width: 1100
rofi.lines: 10

rofi.font: Hack 24
rofi.show-icons: true
rofi.drun-icon-theme: arc

rofi.terminal: tilix
rofi.ssh-command: {terminal} --profile remote -e "{ssh-client} {host}"

rofi.hide-scrollbar: true

rofi.window-format: {w} {t}
rofi.parse-known-hosts: false
rofi.display-drun: run
rofi.display-windowcd: tag clients
rofi.display-window: all clients
