configuration {
	modi: "window,windowcd,drun";
	font: "Ubuntu Mono 16";
	width: 500;
	show-icons: true;
	parse-known-hosts: false;
	hide-scrollbar: true;
	window-format: " {t}";
	theme: "dotsanity";
	display-window: "clients";
	display-windowcd: "tag";
	display-drun: "run";
}
