configuration {
	modi: "window,windowcd,drun";
	width: 1400;
	lines: 10;
	columns: 2;
	font: "Hack Nerd Font Mono 24";
	location: 2;
	yoffset: 200;
	show-icons: true;
	parse-known-hosts: false;
	hide-scrollbar: true;
	window-format: " {t}";
	theme: "dotsanity";
	display-window: "clients";
	display-windowcd: "tag";
	display-drun: "run";
}
