'atom-workspace':
  'ctrl-b': 'python-tools:goto-definition'
  'ctrl-shift-m': 'merge-conflicts:detect'

'atom-text-editor:not([mini])':
  'ctrl-d': 'editor:delete-line'

'.platform-linux':
  'ctrl-shift-v': 'fuzzy-finder:toggle-buffer-finder'

'body':
  'alt': ' '
  'ctrl-alt': ' '
  'alt-m': 'window:toggle-menu-bar'

'atom-text-editor':
  'ctrl-alt-s': 'spell-check:toggle'
  'ctrl-shift-m': 'merge-conflicts:detect'
